<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567250082750-ec1o5cn8h9g0n0arr99l1pf5dudi5mqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567250082750-ec1o5cn8h9g0n0arr99l1pf5dudi5mqt</string>
	<key>API_KEY</key>
	<string>AIzaSyAa9ep_Er8-iJAsPETkYK2z-_n1H-5dneY</string>
	<key>GCM_SENDER_ID</key>
	<string>567250082750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartico</string>
	<key>PROJECT_ID</key>
	<string>smartico-chat-app</string>
	<key>STORAGE_BUCKET</key>
	<string>smartico-chat-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567250082750:ios:2613e729654375bb3cf7ef</string>
</dict>
</plist>